<div class="panel">
  <h3>Contact Info</h3>
  <form id="contact-form" class="grid-2">
    <div class="form-row"><label>Office Location</label><input class="input" name="location" required /></div>
    <div class="form-row"><label>Email</label><input class="input" name="email" required /></div>
    <div class="form-row"><label>Phone</label><input class="input" name="phone" required /></div>
    <div class="actions actions-end">
      <button class="btn" type="submit">Save Contact Info</button>
      <button class="btn warn" type="button" id="clear-contact-btn">Clear</button>
    </div>
  </form>
</div>
