<div class="panel">
  <h3>Read-Only Dashboard</h3>
  <div class="cards" id="dashboard-stats"></div>
</div>
<div class="grid-2 mt-12">
  <div class="panel">
    <h4>Latest Blogs</h4>
    <ul class="preview-list" id="preview-blogs"></ul>
  </div>
  <div class="panel">
    <h4>Team Members</h4>
    <div id="preview-team" class="team-preview-list"></div>
  </div>
  <div class="panel">
    <h4>Contact Info</h4>
    <ul class="preview-list" id="preview-contact"></ul>
  </div>
  <div class="panel">
    <h4>Career Posts</h4>
    <ul class="preview-list" id="preview-careers"></ul>
  </div>
</div>
